/* PLAYLISTS PAGE */

#playlists {
	height: auto;
}


/* Primary Title for the page and playlist */
.playlist-title {
	font-family: $stdMont;
	font-weight: 400;
	color: #000;
}

.playlist-title h1 {
	padding: 2.5rem 0 2.5rem 0;
	color: #222;
	font-size: 6.3rem;
	text-align: center;
}


	/* tells the story of the playlist */
	.playlist-story {
		font-family: $stdLato;
	}


	.playlist-story p {
		font-family: $stdLato;
		font-size: 2.8rem;
		line-height: 4.6rem;
		color: #222;
		text-align: center;
		font-weight: 100;
	}





/* themes */

.sunrise {
/* Old browsers */
  background: #a7d3cb;
  /* FF3.6+ */
  background: -moz-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #a7d3cb), color-stop(32%, #bcc1c4), color-stop(59%, #e5cab3), color-stop(89%, #fee6c5), color-stop(100%, #fdecd0));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* IE10+ */
  background: -ms-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* W3C */
  background: linear-gradient(135deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
}

.in-the-summertime {
/* Old browsers */
  background: #8dd6c3;
  /* FF3.6+ */
  background: -moz-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(6%, #8dd6c3), color-stop(40%, #c5e5e2), color-stop(70%, #eafaeb), color-stop(88%, #f9f7ca), color-stop(100%, #fceea1));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* IE10+ */
  background: -ms-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* W3C */
  background: linear-gradient(135deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
}


.manhattan-nights {
	background: linear-gradient(to bottom, #020111 60%,#20202c 100%);
}
