@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Sacramento);

/* &VARIABLES */
$stdLato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$stdMont: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$stdSerif: "Noto Serif", 'Times New Roman', serif;

$electronic: #EA2E49;
$strings: 	 #77C4D3;
$hhrb: 		 #F6F792;

$hyperlink:  #FF4247;
.hyperlink 	{color: $hyperlink;}

.facebook 	{color: #3b5998;}
.twitter 	{color: #55acee;}
.youtube 	{color: #e52d27;}
.soundcloud {color: #f80;} 
.tumblr 	{color: #35465c;}
.reddit 	{color: #cee3f8;}
.googleplus {color: #dd4b39;}



.underbar {
		height: 5px;
		background: #ea2e49; /* Old browsers */
		background: -moz-linear-gradient(left,  #ea2e49 0%, #77c4d3 50%, #f6f792 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ea2e49), color-stop(50%,#77c4d3), color-stop(100%,#f6f792)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #ea2e49 0%,#77c4d3 50%,#f6f792 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #ea2e49 0%,#77c4d3 50%,#f6f792 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #ea2e49 0%,#77c4d3 50%,#f6f792 100%); /* IE10+ */
		background: linear-gradient(to right,  #ea2e49 0%,#77c4d3 50%,#f6f792 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2e49', endColorstr='#f6f792',GradientType=1 ); /* IE6-9 */
	}



.homepage-bg {
	background-color: #222;
} /* this turns the homepage background color to #222, fixes nav bar color */



body {
	font-size: 62.5% !important;

}

html, body {
    height: 100%; width: 100%;
      margin: 0; padding: 0;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.header {
	background-color: #222;
	margin: 1rem 0 1rem 0;
}

.smoothtext {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}



.explore-menu:before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	color: #777;
		background: linear-gradient(330deg, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	padding: 0 6px 0 2px;
}

.music-genres-pulldown i, .playlists-pulldown i {
	color: #fff;
	font-size: 1.75rem;
	vertical-align: middle;
}
.music-genres-pulldown, .playlists-pulldown {
	font-family: $stdMont;
	color: #aaa;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

.music-genres-pulldown {
	padding-right: 0.5rem;
}

.playlists-pulldown {
	padding-left: 0.5rem;
}

.overlay-button-container {
	text-align: center;
}
.overlay-button {
	padding: 10px;
	color: #eee;
	background-color: transparent;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20px;
	border: 1px solid #666;
	outline: none;
	border-radius: 2px;
	transition: .4s all;
	margin: 10px 10px 10px 10px;
}

#site-name {
		font-family: $stdMont;
		text-transform: uppercase;
		font-size: 3rem;
		font-weight: bold;
		padding: 0 10px 0 5px;
		vertical-align: middle;
		color: #fff;
		margin-top: 1.25rem;
		transition: .25s all;
}

span#site-name {
	letter-spacing: 0.15rem;
}

#site-name a {
	transition: .25s all;
}

#site-name a:hover {
	text-decoration: none;
	opacity: 0.5;
	transition: .25s all;
}

.overlay-button:hover {
	border: 1px solid #3498db;
	transition: .4s all;
}

#site-name {
	letter-spacing: -1px;
}


/* OVERLAY MENU */
.menu {
	padding-top: 45px;
	color: #fff;
	font-size: 2rem;
	font-family: $stdMont;
}

/* about us, team, join us, history, etc */
.menu-about {
	text-align: right;
	padding: 10rem 2.5rem 0 0;
}
	.about-links {
		font-family: $stdMont;
		font-size: 2rem;
		color: #ddd;
		font-weight: 400;
		text-transform: uppercase;
		display: block;
		text-align: center;
		letter-spacing: 0.2rem;
		padding-top: 0.2rem;
		transition: .4s all;
	}
		.about-links a {
			color: #bbb; 
			transition: .4s all;}
		.about-links a:hover {
			color: #fff;
			transition: .4s all;
			text-decoration: none;
		}

	.about-links i {
		color: #444;
		font-size: 4rem;
		padding-bottom: 0.8rem;
	}

/* subcategories (tags) */

.tag:before {
	font-family: 'FontAwesome';
	content: '\f02b';
	color: #222;
	padding: 0 0.5rem 0 0;
}

.tag {
	font-family: $stdMont;
	font-size: 2.2rem;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	padding: 0.5rem;
	color: #222;
	margin: 0.8rem 0.4rem 0 0.4rem;
}

.tag-e { /* electronic music tag color bg */
	background-color: $electronic;
}

.tag-s { /* strings music tag color bg */
	background-color: $strings;
}

.tag-hhrb { /* hiphop / r&b music tag color bg */
	background-color: $hhrb;
}

/* music genres, tags, that kind of thing */
.menu-music {
	text-align: left;
	padding: 5rem 2.5rem 0 0;
}

	.music-links {
		font-family: $stdMont;
		font-size: 4rem;
		color: #fff;
		font-weight: 400;
		display: block;
	}

		.music-links i {
			color: #444;
		}

	/* this affects the titles above the music tags */
	.music-links-title {
		text-transform: uppercase;
		color: #ddd;
		letter-spacing: 0.4rem;
		margin-top: 4rem;
		margin-bottom: 0.5rem;
	}

	/* underline effect for electronic, strings, and hhrb titles */

	.music-links-title--e {
		padding: 0.25rem 0 0.25rem 0;
		border-bottom: 1px solid $electronic;
	}

	.music-links-title--s {
		padding: 0.25rem 0 0.25rem 0;
		border-bottom: 1px solid $strings;
	}
	/* while the $SCSS $variable is $hhrb, it's tagged as --f in html !! */
	.music-links-title--f {
		padding: 0.25rem 0 0.25rem 0;
		border-bottom: 1px solid $hhrb;
	}

/* END OVERLAY MENU */

	.social-menu {
		margin: 2rem 0 0 0;
		color: #666;
		font-size: 3.5rem;
		float: right;
		padding: 0 0.75rem 0 0.75rem;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		vertical-align: middle;
		transition: .25s all;
	}



	.social-menu:hover {
		opacity: 0.5;
		transition: .25s all;
	}


.facebook {color: #3b5998;}
.twitter {color: #55acee;}
.soundcloud {color: #f80;}
.youtube {color: #e52d27;}

.logo {text-align: center;}
.logo img {
	padding: 2.5rem 0 0 0;
	transition: .25s all;
}

.logo img:hover {
	opacity: 0.5;
	transition: .25s all;
}

.underbar-index {
	margin-bottom: 2.5rem;
}
/* MAIN AREA */


.featured-m {
	margin-left: 0;
	height: 500px;
	background-color: #333;
	background: url('http://radcircle.com/wp-content/uploads/2014/07/artworks-000085264421-bvceqx-t500x500-500x500.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

	.featured-m a {color: #fff; transition: .25s all;}
	.featured-m a:hover {color: #3498db; transition: .25s all; text-decoration: none;}

/* temp dlete this */
.featured-m-extra {
	margin-left: 0;
	height: 500px;
	background-color: #333;
	background: url('	http://radcircle.com/wp-content/uploads/2014/07/alt-j-left-hand-500x500.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

	.featured-m p {
		margin: 20px 0 0 10px;
		padding: 10px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-size: 3.5rem;
		line-height: 4rem;
		letter-spacing: -0.15rem;
		color: #fff;
		background: rgba(0,0,0,0.8);
		display: inline-block;
		max-width: 75%;
	}

	.featured-m p:after {
		font-family: 'FontAwesome';
		content: '\f138';
		color: #666;
		font-size: 2rem;
		padding: 1px 0 0 10px;
		vertical-align: middle;
	}

.featured-l {
	height: 500px;
	background-color: #313131;
	background: url('http://radcircle.com/wp-content/uploads/2014/07/mykrazy-500x500.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

	.featured-l p {
		padding: 40px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #fff;

	}

	.bubble a {color: #fff; transition: .25s all;}
	.bubble a:hover {color: #3498db; text-decoration: none; transition: .25s all;}

.area { 
  width: 100%; 
  height: 500px; 
  background: url(../images/abe-bg.png) no-repeat; 
  position: relative;
}

.bubble { 
  position: absolute; 
  width: 100%; 
  height: 500px; 
  display: table; 
}

.bubble p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  padding: 0 15% 0 15%;
  font-size: 4rem;
  line-height: 5.5rem;
  letter-spacing: -0.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bubble-span {
	background: rgba(0,0,0,0.8);
	padding: 0.4rem;
}


.author-info {
	background: rgba(0,0,0,0.8);
	margin-top: 0.8rem;
	padding: 0.4rem;
	font-size: 2rem;
	letter-spacing: normal;
	font-family: $stdMont;
	color: #ddd;
	clear: both;
}

.author-pic-m {
	float: left;
	vertical-align: middle;
	margin: 5px 0 0 10px;
	padding: 5px 0 0 0;
}

.author-info-m i, .date-info-m i {color: #666; font-size: 2rem; vertical-align: middle;}
.author-info-m, .date-info-m /* ONLY FOR MEDIUM SIZED BLOCKS */ {
	display: inline-block;
	background: rgba(0,0,0,0.8);
	font-family: $stdMont;
	font-size: 1.5rem;
	color: #ccc;
	font-weight: 400;
	margin: 10px 0 0 10px;
	padding: 5px;
}

.date-info-m {
	margin: 5px 0 0 10px;
}


/* POST PAGE BELOW */

.post {
	background: #fff;
}

.the-post {
	color: inherit;
}

.the-post-artwork {
		background: url('http://radcircle.com/wp-content/uploads/2014/07/mykrazy-500x500.jpg') no-repeat center center fixed; 

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
    height: 100rem;
    min-height: 500px;
    margin-top: 8rem;
}

		/* Post Media Query */
		@media (max-width: 767px) {

		.the-post-artwork {
			display: none;}
		}
		
		/* End Post Media Query */

.post-extra {
	color: inherit;
}

/* post page title */
.post-title {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 8rem;
	text-align: left;
	color: #aaa;
	line-height: 8rem;
	letter-spacing: -0.7rem;
	padding: 3rem 0 2rem 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}

		/* Title Media Query */
		@media (max-width: 767px) {

		.post-title {
			font-size: 5rem;
			line-height: 5rem;
			letter-spacing: -0.35rem;
			padding: 0rem;
		}

		/* End Title Media Query */

}

.the-author {
	font-family: $stdMont;
	font-size: 2.5rem;
	color: #222;
	display: block;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0 0 1rem 0;
	border-bottom: 1px solid $hyperlink;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}

.the-date {
	font-family: $stdMont;
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
	color: #aaa;
	display: block;
	margin-bottom: 1rem;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}

.post-extra img {
	max-width: 100%;
	height: auto;
}

.post p {
	margin: 1rem 0 1rem 0;
	font-family: $stdSerif;
	color: #222;
	font-size: 2.1rem;
	line-height: 3.6rem;
	font-weight: 400;
	margin-right: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased
}

		/* Post Media Query */
		@media (max-width: 767px) {

		.post p {
			font-size: 1.7rem;
			line-height: 2.9rem;}
		}
		
		/* End Post Media Query */

.post p:first-of-type {
	padding-top: 1rem;
}



ul.post-categories {
	list-style: none;
}

li.post-categories {
	margin-top: 2.5rem;
}

.the-category {
	margin-top: 2.5rem;
	font-family: $stdMont;
	text-transform: uppercase;
	font-size: 2.5rem;
	color: #333;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-decoration: none;
	list-style: none;
	text-align: center;
}

.the-category a {
	color: $hyperlink;
}

.the-category a:hover {
	color: $hyperlink;
}

.the-tags {
	text-align: center;
	font-family: $stdMont;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #222;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
	.the-tags a {
		color: $hyperlink;
	}

	.the-tags a:hover {
		color: $hyperlink;
	}

	.the-tags a:before {
		font-family: 'FontAwesome';
		content: '\f02b';
		color: #222;
		padding: 0 0.5rem 0 0;
	}

/* footer */


.footer {
	padding: 4rem 0 2rem 0;
	background: #222;
	text-align: center;
}


.footer-copyright {
	padding: 1rem 0 1rem 0;
	color: #444;
	font-family: $stdMont;
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	text-align: center;
	text-transform: uppercase;
}

.sub-footer {
	padding: 2rem 0 2rem 0;
	background: #171717;
	text-align: center;
}
	.sub-footer img {
		padding: 0 0 2rem 0;
	}



/* PUT THIS IN A PARTIAL */


.mailing-list-anchor {
	color: inherit;
}

.mailing-list-anchor:hover {
	text-decoration: none;
	color: inherit;
}

.signup-form {
	text-align: center;
	margin-bottom: 2.5rem;
}

h2.mce-email {
	font-family: $stdMont;
	font-size: 1.8rem;
	letter-spacing: 0.18rem;
	text-transform: uppercase;
	line-height: 2.4rem;
	color: #ccc;
}

#mce-EMAIL {
	width: 50%;
	background: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	text-align: center;
	font-family: $stdMont;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.75rem;
	color: #fff;
	padding-bottom: 0.175rem;
	transition: .4s all;
}

	#mce-EMAIL:hover {
		border-bottom: 2px solid $hyperlink;
		transition: .4s all;
	}

/* input caution as this is the only input in this */
input {
	font-family: $stdMont;
	font-size: 2.1rem;
	padding: 5px;
}

input.button {
	margin-top: 2rem;
	border: 1px solid $hyperlink;
	background: transparent;
	padding: 1rem;
	font-family: $stdMont;
	color: #fff;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	transition: .4s all;

}
	input:focus {
    outline:none;}

input.button:hover {
	border: 1px solid #fff;
	transition: .4s all;
}

/* end input */

#menu { padding:0; width:100%; background-color:#fff; display:none;
font-size: 4rem;
position: relative;
font-family: $stdMont;
margin: 0;
height: 500px; }

#music-menu {
	width: 100%;
	background: #333;
	display: none;
	position: relative;
	margin: 0; padding: 0;
	height: 400px;
}


.featured-slide {
	height: 200px;
	background: #fff;
	color: #222;
	font-size: 4rem;
	font-family: $stdMont;
}

/* Footnote Terms */

span.footnote-terms  {
	font-family: $stdMont;
	font-size: 2rem;
	color: #ccc;
	vertical-align: top;
} 
p.footnote-terms {
	font-family: $stdMont;
	font-size: 1.4rem !important;
	color: #ccc;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.14rem;
}

/* Standard Page */

.standard h1 {
	font-family: $stdMont;
	font-size: 5rem;
	font-weight: 700;
	text-align: center;
	padding: 1.5rem 0 1.5rem 0;
	border-bottom: 5px solid #ccc;
}

.standard h2 {
	font-family: $stdMont;
	font-size: 3rem;
	padding: 1rem 0 1rem 0;
}

.standard p {
	font-family: $stdSerif;
	font-size: 2.1rem;
	line-height: 3.9rem;
}

.standard ul li {
	text-decoration: none;
	list-style: none;
}

/* next and past page */
.pagenavigation {
	text-align: center;
	background: #111;
}

.next-page, .past-page {
	font-family: $stdLato;
	font-size: 5rem;
	font-weight: 100;
	color: #fff;
	background-color: #111;
	text-align: center;
	margin-top: 2.5rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-bottom: 2.5rem;
	display: inline-block;
	padding: 0.25rem;
}

.next-page a, .past-page a {
	color: $hyperlink;
}

.next-page a:hover, .past-page a:hover {
	color: #fff;
	text-decoration: none;
}
/* end next past page */

/* tags and cats */




/* icons */
@charset "UTF-8";

/* untitled-font-2 */
@font-face {
  font-family: "untitled-font-2";
  src:url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.eot");
  src:url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.eot?#iefix") format("embedded-opentype"),
    url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.woff") format("woff"),
    url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.ttf") format("truetype"),
    url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.svg#1410309706") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-house-streamline:before {
  content: "a";
}
.icon-settings-streamline:before {
  content: "b";
}
.icon-music-note-streamline:before {
  content: "c";
}
.icon-envellope-mail-streamline:before {
  content: "d";
}
.icon-earth-globe-streamline:before {
  content: "e";
}
.icon-diamond:before {
  content: "g";
}
.icon-male-female:before {
  content: "f";
}

@import 'profiles';
@import 'hangar';
@import 'lists';
@import 'navigation';
@import 'navmenu';
@import 'global-footer';
@import 'playlists';
@import 'maincontent';
@import 'team';

