@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Sacramento);
/* &VARIABLES */
/* line 15, ../sass/style.scss */
.hyperlink {
  color: #FF4247;
}

/* line 17, ../sass/style.scss */
.facebook {
  color: #3b5998;
}

/* line 18, ../sass/style.scss */
.twitter {
  color: #55acee;
}

/* line 19, ../sass/style.scss */
.youtube {
  color: #e52d27;
}

/* line 20, ../sass/style.scss */
.soundcloud {
  color: #f80;
}

/* line 21, ../sass/style.scss */
.tumblr {
  color: #35465c;
}

/* line 22, ../sass/style.scss */
.reddit {
  color: #cee3f8;
}

/* line 23, ../sass/style.scss */
.googleplus {
  color: #dd4b39;
}

/* line 27, ../sass/style.scss */
.underbar {
  height: 5px;
  background: #ea2e49;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ea2e49), color-stop(50%, #77c4d3), color-stop(100%, #f6f792));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2e49', endColorstr='#f6f792',GradientType=1 );
  /* IE6-9 */
}

/* line 41, ../sass/style.scss */
.homepage-bg {
  background-color: #222;
}

/* this turns the homepage background color to #222, fixes nav bar color */
/* line 47, ../sass/style.scss */
body {
  font-size: 62.5% !important;
}

/* line 52, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 57, ../sass/style.scss */
.fill {
  min-height: 100%;
  height: 100%;
}

/* line 62, ../sass/style.scss */
.header {
  background-color: #222;
  margin: 1rem 0 1rem 0;
}

/* line 67, ../sass/style.scss */
.smoothtext, .hangar-body p, .hangar-body p:first-of-type, h5.hangar-fin, .hangar-share, .hangar-hero h1, .home-post-box h1 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 74, ../sass/style.scss */
.explore-menu:before {
  font-family: 'FontAwesome';
  content: '\f0c9';
  color: #777;
  background: linear-gradient(330deg, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 6px 0 2px;
}

/* line 84, ../sass/style.scss */
.music-genres-pulldown i, .playlists-pulldown i {
  color: #fff;
  font-size: 1.75rem;
  vertical-align: middle;
}

/* line 89, ../sass/style.scss */
.music-genres-pulldown, .playlists-pulldown {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #aaa;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

/* line 97, ../sass/style.scss */
.music-genres-pulldown {
  padding-right: 0.5rem;
}
/*search bar */
.hidden{

display: none; 
}


#global-radcircle-search-bar {
    margin: 10px;
    
}


input {
    height: 45px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    
    border: none;
    width: 100%;
    padding-left: 0px;
    color: rgb(79, 79, 79);
    outline: none;
}
.search-dropdown {
    background-color: rgba(238, 238, 238, 1);
    border-radius: 5px;
    margin: 0 0 1em;
}

/* line 101, ../sass/style.scss */
.playlists-pulldown {
  padding-left: 0.5rem;
}

/* line 105, ../sass/style.scss */
.overlay-button-container {
  text-align: center;
}

/* line 108, ../sass/style.scss */
.overlay-button {
  padding: 10px;
  color: #eee;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  border: 1px solid #666;
  outline: none;
  border-radius: 2px;
  transition: .4s all;
  margin: 10px 10px 10px 10px;
}

/* line 124, ../sass/style.scss */
#site-name {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 10px 0 5px;
  vertical-align: middle;
  color: #fff;
  margin-top: 1.25rem;
  transition: .25s all;
}

/* line 136, ../sass/style.scss */
span#site-name {
  letter-spacing: 0.15rem;
}

/* line 140, ../sass/style.scss */
#site-name a {
  transition: .25s all;
}

/* line 144, ../sass/style.scss */
#site-name a:hover {
  text-decoration: none;
  opacity: 0.5;
  transition: .25s all;
}

/* line 150, ../sass/style.scss */
.overlay-button:hover {
  border: 1px solid #3498db;
  transition: .4s all;
}

/* line 155, ../sass/style.scss */
#site-name {
  letter-spacing: -1px;
}

/* OVERLAY MENU */
/* line 161, ../sass/style.scss */
.menu {
  padding-top: 45px;
  color: #fff;
  font-size: 2rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* about us, team, join us, history, etc */
/* line 169, ../sass/style.scss */
.menu-about {
  text-align: right;
  padding: 10rem 2.5rem 0 0;
}

/* line 173, ../sass/style.scss */
.about-links {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #ddd;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  text-align: center;
  letter-spacing: 0.2rem;
  padding-top: 0.2rem;
  transition: .4s all;
}

/* line 185, ../sass/style.scss */
.about-links a {
  color: #bbb;
  transition: .4s all;
}

/* line 188, ../sass/style.scss */
.about-links a:hover {
  color: #fff;
  transition: .4s all;
  text-decoration: none;
}

/* line 194, ../sass/style.scss */
.about-links i {
  color: #444;
  font-size: 4rem;
  padding-bottom: 0.8rem;
}

/* subcategories (tags) */
/* line 202, ../sass/style.scss */
.tag:before {
  font-family: 'FontAwesome';
  content: '\f02b';
  color: #222;
  padding: 0 0.5rem 0 0;
}

/* line 209, ../sass/style.scss */
.tag {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  color: #222;
  margin: 0.8rem 0.4rem 0 0.4rem;
}

/* line 220, ../sass/style.scss */
.tag-e {
  /* electronic music tag color bg */
  background-color: #EA2E49;
}

/* line 224, ../sass/style.scss */
.tag-s {
  /* strings music tag color bg */
  background-color: #77C4D3;
}

/* line 228, ../sass/style.scss */
.tag-hhrb {
  /* hiphop / r&b music tag color bg */
  background-color: #F6F792;
}

/* music genres, tags, that kind of thing */
/* line 233, ../sass/style.scss */
.menu-music {
  text-align: left;
  padding: 5rem 2.5rem 0 0;
}

/* line 238, ../sass/style.scss */
.music-links {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
  display: block;
}

/* line 246, ../sass/style.scss */
.music-links i {
  color: #444;
}

/* this affects the titles above the music tags */
/* line 251, ../sass/style.scss */
.music-links-title {
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 0.4rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

/* underline effect for electronic, strings, and hhrb titles */
/* line 261, ../sass/style.scss */
.music-links-title--e {
  padding: 0.25rem 0 0.25rem 0;
  border-bottom: 1px solid #EA2E49;
}

/* line 266, ../sass/style.scss */
.music-links-title--s {
  padding: 0.25rem 0 0.25rem 0;
  border-bottom: 1px solid #77C4D3;
}

/* while the $SCSS $variable is $hhrb, it's tagged as --f in html !! */
/* line 271, ../sass/style.scss */
.music-links-title--f {
  padding: 0.25rem 0 0.25rem 0;
  border-bottom: 1px solid #F6F792;
}

/* END OVERLAY MENU */
/* line 278, ../sass/style.scss */
.social-menu {
  margin: 2rem 0 0 0;
  color: #666;
  font-size: 3.5rem;
  float: right;
  padding: 0 0.75rem 0 0.75rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  transition: .25s all;
}

/* line 292, ../sass/style.scss */
.social-menu:hover {
  opacity: 0.5;
  transition: .25s all;
}

/* line 298, ../sass/style.scss */
.facebook {
  color: #3b5998;
}

/* line 299, ../sass/style.scss */
.twitter {
  color: #55acee;
}

/* line 300, ../sass/style.scss */
.soundcloud {
  color: #f80;
}

/* line 301, ../sass/style.scss */
.youtube {
  color: #e52d27;
}

/* line 303, ../sass/style.scss */
.logo {
  text-align: center;
}

/* line 304, ../sass/style.scss */
.logo img {
  padding: 2.5rem 0 0 0;
  transition: .25s all;
}

/* line 309, ../sass/style.scss */
.logo img:hover {
  opacity: 0.5;
  transition: .25s all;
}

/* line 314, ../sass/style.scss */
.underbar-index {
  margin-bottom: 2.5rem;
}

/* MAIN AREA */
/* line 320, ../sass/style.scss */
.featured-m {
  margin-left: 0;
  height: 500px;
  background-color: #333;
  background: url("http://radcircle.com/wp-content/uploads/2014/07/artworks-000085264421-bvceqx-t500x500-500x500.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 331, ../sass/style.scss */
.featured-m a {
  color: #fff;
  transition: .25s all;
}

/* line 332, ../sass/style.scss */
.featured-m a:hover {
  color: #3498db;
  transition: .25s all;
  text-decoration: none;
}

/* temp dlete this */
/* line 335, ../sass/style.scss */
.featured-m-extra {
  margin-left: 0;
  height: 500px;
  background-color: #333;
  background: url("	http://radcircle.com/wp-content/uploads/2014/07/alt-j-left-hand-500x500.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 346, ../sass/style.scss */
.featured-m p {
  margin: 20px 0 0 10px;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: -0.15rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  max-width: 75%;
}

/* line 360, ../sass/style.scss */
.featured-m p:after {
  font-family: 'FontAwesome';
  content: '\f138';
  color: #666;
  font-size: 2rem;
  padding: 1px 0 0 10px;
  vertical-align: middle;
}

/* line 369, ../sass/style.scss */
.featured-l {
  height: 500px;
  background-color: #313131;
  background: url("http://radcircle.com/wp-content/uploads/2014/07/mykrazy-500x500.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 379, ../sass/style.scss */
.featured-l p {
  padding: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

/* line 387, ../sass/style.scss */
.bubble a {
  color: #fff;
  transition: .25s all;
}

/* line 388, ../sass/style.scss */
.bubble a:hover {
  color: #3498db;
  text-decoration: none;
  transition: .25s all;
}

/* line 390, ../sass/style.scss */
.area {
  width: 100%;
  height: 500px;
  background: url(../images/abe-bg.png) no-repeat;
  position: relative;
}

/* line 397, ../sass/style.scss */
.bubble {
  position: absolute;
  width: 100%;
  height: 500px;
  display: table;
}

/* line 404, ../sass/style.scss */
.bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 15% 0 15%;
  font-size: 4rem;
  line-height: 5.5rem;
  letter-spacing: -0.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 415, ../sass/style.scss */
.bubble-span {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.4rem;
}

/* line 421, ../sass/style.scss */
.author-info {
  background: rgba(0, 0, 0, 0.8);
  margin-top: 0.8rem;
  padding: 0.4rem;
  font-size: 2rem;
  letter-spacing: normal;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ddd;
  clear: both;
}

/* line 432, ../sass/style.scss */
.author-pic-m {
  float: left;
  vertical-align: middle;
  margin: 5px 0 0 10px;
  padding: 5px 0 0 0;
}

/* line 439, ../sass/style.scss */
.author-info-m i, .date-info-m i {
  color: #666;
  font-size: 2rem;
  vertical-align: middle;
}

/* line 440, ../sass/style.scss */
.author-info-m, .date-info-m {
  display: inline-block;
  background: rgba(0, 0, 0, 0.8);
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #ccc;
  font-weight: 400;
  margin: 10px 0 0 10px;
  padding: 5px;
}

/* line 451, ../sass/style.scss */
.date-info-m {
  margin: 5px 0 0 10px;
}

/* POST PAGE BELOW */
/* line 458, ../sass/style.scss */
.post {
  background: #fff;
}

/* line 462, ../sass/style.scss */
.the-post {
  color: inherit;
}

/* line 466, ../sass/style.scss */
.the-post-artwork {
  background: url("http://radcircle.com/wp-content/uploads/2014/07/mykrazy-500x500.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100vh;
  height: 100rem;
  min-height: 500px;
  margin-top: 8rem;
}

/* Post Media Query */
@media (max-width: 767px) {
  /* line 482, ../sass/style.scss */
  .the-post-artwork {
    display: none;
  }
}
/* End Post Media Query */
/* line 488, ../sass/style.scss */
.post-extra {
  color: inherit;
}

/* post page title */
/* line 493, ../sass/style.scss */
.post-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 8rem;
  text-align: left;
  color: #aaa;
  line-height: 8rem;
  letter-spacing: -0.7rem;
  padding: 3rem 0 2rem 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Title Media Query */
@media (max-width: 767px) {
  /* line 509, ../sass/style.scss */
  .post-title {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -0.35rem;
    padding: 0rem;
  }

  /* End Title Media Query */
}
/* line 520, ../sass/style.scss */
.the-author {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  color: #222;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid #FF4247;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 533, ../sass/style.scss */
.the-date {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  color: #aaa;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* line 545, ../sass/style.scss */
.post-extra img {
  max-width: 100%;
  height: auto;
}

/* line 550, ../sass/style.scss */
.post p {
  margin: 1rem 0 1rem 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #222;
  font-size: 2.1rem;
  line-height: 3.6rem;
  font-weight: 400;
  margin-right: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Post Media Query */
@media (max-width: 767px) {
  /* line 565, ../sass/style.scss */
  .post p {
    font-size: 1.7rem;
    line-height: 2.9rem;
  }
}
/* End Post Media Query */
/* line 572, ../sass/style.scss */
.post p:first-of-type {
  padding-top: 1rem;
}

/* line 578, ../sass/style.scss */
ul.post-categories {
  list-style: none;
}

/* line 582, ../sass/style.scss */
li.post-categories {
  margin-top: 2.5rem;
}

/* line 586, ../sass/style.scss */
.the-category {
  margin-top: 2.5rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  list-style: none;
  text-align: center;
}

/* line 599, ../sass/style.scss */
.the-category a {
  color: #FF4247;
}

/* line 603, ../sass/style.scss */
.the-category a:hover {
  color: #FF4247;
}

/* line 607, ../sass/style.scss */
.the-tags {
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #222;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 616, ../sass/style.scss */
.the-tags a {
  color: #FF4247;
}

/* line 620, ../sass/style.scss */
.the-tags a:hover {
  color: #FF4247;
}

/* line 624, ../sass/style.scss */
.the-tags a:before {
  font-family: 'FontAwesome';
  content: '\f02b';
  color: #222;
  padding: 0 0.5rem 0 0;
}

/* footer */
/* line 634, ../sass/style.scss */
.footer {
  padding: 4rem 0 2rem 0;
  background: #222;
  text-align: center;
}

/* line 641, ../sass/style.scss */
.footer-copyright {
  padding: 1rem 0 1rem 0;
  color: #444;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  text-transform: uppercase;
}

/* line 651, ../sass/style.scss */
.sub-footer {
  padding: 2rem 0 2rem 0;
  background: #171717;
  text-align: center;
}

/* line 656, ../sass/style.scss */
.sub-footer img {
  padding: 0 0 2rem 0;
}

/* PUT THIS IN A PARTIAL */
/* line 665, ../sass/style.scss */
.mailing-list-anchor {
  color: inherit;
}

/* line 669, ../sass/style.scss */
.mailing-list-anchor:hover {
  text-decoration: none;
  color: inherit;
}

/* line 674, ../sass/style.scss */
.signup-form {
  text-align: center;
  margin-bottom: 2.5rem;
}

/* line 679, ../sass/style.scss */
h2.mce-email {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  text-transform: uppercase;
  line-height: 2.4rem;
  color: #ccc;
}

/* line 688, ../sass/style.scss */
#mce-EMAIL {
  width: 50%;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.75rem;
  color: #fff;
  padding-bottom: 0.175rem;
  transition: .4s all;
}

/* line 703, ../sass/style.scss */
#mce-EMAIL:hover {
  border-bottom: 2px solid #FF4247;
  transition: .4s all;
}

/* input caution as this is the only input in this */
/* line 709, ../sass/style.scss */
input {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.1rem;
  padding: 5px;
}

/* line 715, ../sass/style.scss */
input.button {
  margin-top: 2rem;
  border: 1px solid #FF4247;
  background: transparent;
  padding: 1rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  transition: .4s all;
}

/* line 728, ../sass/style.scss */
input:focus {
  outline: none;
}

/* line 731, ../sass/style.scss */
input.button:hover {
  border: 1px solid #fff;
  transition: .4s all;
}

/* end input */
/* line 738, ../sass/style.scss */
#menu {
  padding: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  font-size: 4rem;
  position: relative;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 500px;
}

/* line 745, ../sass/style.scss */
#music-menu {
  width: 100%;
  background: #333;
  display: none;
  position: relative;
  margin: 0;
  padding: 0;
  height: 400px;
}

/* line 755, ../sass/style.scss */
.featured-slide {
  height: 200px;
  background: #fff;
  color: #222;
  font-size: 4rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Footnote Terms */
/* line 765, ../sass/style.scss */
span.footnote-terms {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #ccc;
  vertical-align: top;
}

/* line 771, ../sass/style.scss */
p.footnote-terms {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem !important;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.14rem;
}

/* Standard Page */
/* line 782, ../sass/style.scss */
.standard h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 5px solid #ccc;
}

/* line 791, ../sass/style.scss */
.standard h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  padding: 1rem 0 1rem 0;
}

/* line 797, ../sass/style.scss */
.standard p {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 2.1rem;
  line-height: 3.9rem;
}

/* line 803, ../sass/style.scss */
.standard ul li {
  text-decoration: none;
  list-style: none;
}

/* next and past page */
/* line 809, ../sass/style.scss */
.pagenavigation {
  text-align: center;
  background: #111;
}

/* line 814, ../sass/style.scss */
.next-page, .past-page {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  font-weight: 100;
  color: #fff;
  background-color: #111;
  text-align: center;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  display: inline-block;
  padding: 0.25rem;
}

/* line 829, ../sass/style.scss */
.next-page a, .past-page a {
  color: #FF4247;
}

/* line 833, ../sass/style.scss */
.next-page a:hover, .past-page a:hover {
  color: #fff;
  text-decoration: none;
}

/* end next past page */
/* tags and cats */
/* icons */
/* untitled-font-2 */
@font-face {
  font-family: "untitled-font-2";
  src: url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.eot");
  src: url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.eot?#iefix") format("embedded-opentype"), url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.woff") format("woff"), url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.ttf") format("truetype"), url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.svg#1410309706") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 859, ../sass/style.scss */
[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 872, ../sass/style.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 885, ../sass/style.scss */
.icon-home-house-streamline:before {
  content: "a";
}

/* line 888, ../sass/style.scss */
.icon-settings-streamline:before {
  content: "b";
}

/* line 891, ../sass/style.scss */
.icon-music-note-streamline:before {
  content: "c";
}

/* line 894, ../sass/style.scss */
.icon-envellope-mail-streamline:before {
  content: "d";
}

/* line 897, ../sass/style.scss */
.icon-earth-globe-streamline:before {
  content: "e";
}

/* line 900, ../sass/style.scss */
.icon-diamond:before {
  content: "g";
}

/* line 903, ../sass/style.scss */
.icon-male-female:before {
  content: "f";
}

/* PLAYLISTS PAGE */
/* line 3, ../sass/_profiles.scss */
.profiles {
  height: auto;
}

/* line 7, ../sass/_profiles.scss */
.profile-container {
  color: inherit;
}

/* line 11, ../sass/_profiles.scss */
.profile-photo {
  margin-top: 6rem;
  padding-bottom: 3rem;
  text-align: left;
}

/* line 17, ../sass/_profiles.scss */
.profile-photo img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  transition: .25s all;
}

/* line 24, ../sass/_profiles.scss */
.profile-photo img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: .25s all;
}

/* line 30, ../sass/_profiles.scss */
.leadership {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #aaa;
  text-transform: uppercase;
  border: 1px solid #ffd700;
  padding: 0.5rem;
  opacity: 0.5;
  margin-left: 0.5rem;
  transition: .25s all;
  display: none;
}

/* line 43, ../sass/_profiles.scss */
.leadership:hover {
  opacity: 1;
  transition: .25s all;
}

/* line 51, ../sass/_profiles.scss */
.profile-name h1 {
  padding: 0;
  margin: 1rem 0 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 8rem;
  color: #222;
  letter-spacing: -0.4rem;
  vertical-align: middle;
}

/* line 62, ../sass/_profiles.scss */
.profile-name h2 {
  padding-top: 0.9rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 4rem;
  color: #aaa;
  margin-top: -2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 5px solid #aaa;
}

/* line 74, ../sass/_profiles.scss */
.profile-description {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* line 79, ../sass/_profiles.scss */
.profile-description p {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 2.3rem;
  line-height: 3.9rem;
  color: #222;
}

/* line 86, ../sass/_profiles.scss */
.profile-social {
  border-top: 1px solid #eee;
  margin: 0.5rem 0 2.5rem 0;
}

/* line 90, ../sass/_profiles.scss */
.profile-social i {
  font-size: 5rem;
  padding: 1rem 0.5rem 0 0.5rem;
  vertical-align: middle;
  color: #aaa;
  transition: .25s all;
}

/* line 98, ../sass/_profiles.scss */
.profile-social i:hover {
  color: #222;
  transition: .25s all;
}

/* line 103, ../sass/_profiles.scss */
.profile-footer {
  text-align: center;
  padding: 10rem 0 5rem 0;
}

/* PLAYLISTS PAGE */
/* line 3, ../sass/_hangar.scss */
.hangar-bg {
  background-color: #ccc;
}

/* line 8, ../sass/_hangar.scss */
.hangar-top-bar {
  background-color: #ccc;
  margin-top: 100px;
}

/* line 13, ../sass/_hangar.scss */
.hangar-time {
  margin-bottom: 18rem;
}

/* line 17, ../sass/_hangar.scss */
.hangar-time p:first-of-type {
  margin-top: -10px;
  background-color: #222;
  color: #ccc;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 4rem 4rem 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: right;
}

/* line 29, ../sass/_hangar.scss */
.hangar-time-divider {
  color: #fff;
}

/* line 33, ../sass/_hangar.scss */
.hangar-tag {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding-right: 4rem;
  margin-top: -10px;
  text-align: right;
  background-color: #222;
  color: #ccc;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  float: right;
}

/* line 46, ../sass/_hangar.scss */
.hangar-tag:before {
  font-family: 'FontAwesome';
  content: '\f02b';
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

/* line 55, ../sass/_hangar.scss */
.hangar-hero {
  background-color: #fff;
  padding: 4rem;
}

/* line 60, ../sass/_hangar.scss */
.hangar-artwork {
  background: url("../img/core-hangar.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

/* line 69, ../sass/_hangar.scss */
.hangar-details {
  background-color: #fff;
  padding: 0rem 0 4rem 0;
}

/* line 77, ../sass/_hangar.scss */
h5.hangar-author {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  color: #ccc;
  margin: 0 0 0 4rem;
}

/* line 84, ../sass/_hangar.scss */
.hangar-body {
  background-color: #fff;
}

/* line 88, ../sass/_hangar.scss */
.hangar-body p {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 2.1rem;
  color: #222;
  line-height: 3.9rem;
  padding: 1rem 15% 1rem 15%;
  text-align: left;
}

/* css design for links in hangar */
/* line 99, ../sass/_hangar.scss */
.hangar-body p a {
  padding: 2px 5px 2px 5px;
  background-color: #90cbe9;
  color: inherit;
  transition: .25s all;
}

/* line 106, ../sass/_hangar.scss */
.hangar-body p a:visited {
  padding: 2px 5px 2px 5px;
  background-color: #90cbe9;
  color: inherit;
  transition: .25s all;
}

/* line 113, ../sass/_hangar.scss */
.hangar-body p a:hover {
  background-color: #ccc;
  padding: 2px 5px 2px 5px;
  transition: .25s all;
  text-decoration: none;
}

/* line 120, ../sass/_hangar.scss */
.hangar-body p:first-letter {
  color: inherit;
  border-bottom: 5px solid #ccc;
}

/*** WRITING TOOLS **/
/* line 126, ../sass/_hangar.scss */
.hangar-body iframe {
  max-width: 80%;
  text-align: center;
  margin: 2% 10% 2% 10%;
}

/* R2+ WRITING TOOL */
/* line 133, ../sass/_hangar.scss */
.hangar-body img {
  margin: 2% 10% 2% 10%;
  max-width: 80%;
}

/* BLOCKQUOTES BELOW */
/* R2+ WRITING TOOL */
/* line 140, ../sass/_hangar.scss */
.hangar-body blockquote {
  border-left: none;
  margin: 10% 15% 10% 15%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 5rem;
  padding: 0;
}

/* SMALL SCREENS BLOCKQUOTE WRITING TOOL */
/* this first media query is for <767 css resolution devices [phones etc], it makes the quote size mobile ready */
@media (max-width: 767px) {
  /* line 153, ../sass/_hangar.scss */
  .hangar-body blockquote {
    font-size: 3rem;
    margin: 20% 15% 20% 15%;
  }
}
/* line 159, ../sass/_hangar.scss */
.hangar-body blockquote:before {
  content: '“';
  font-size: 10rem;
  font-weight: bold;
  display: block;
  color: #ccc;
  text-align: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: -8rem;
  margin-bottom: -6rem;
}

/* line 171, ../sass/_hangar.scss */
.hangar-body blockquote:after {
  content: '”';
  font-size: 10rem;
  font-weight: bold;
  display: block;
  color: #ccc;
  text-align: right;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: -6rem;
  margin-bottom: -8rem;
}

/* blockquotes above */
/* end of writing tools */
/* line 188, ../sass/_hangar.scss */
.hangar-body p:first-of-type {
  padding: 6rem 15% 1rem 15%;
}

/* line 193, ../sass/_hangar.scss */
.hangar-body p:last-of-type {
  padding: 1rem 15% 6rem 15%;
}

@media (max-width: 767px) {
  /* line 198, ../sass/_hangar.scss */
  .hangar-body p {
    padding: 0.5rem 5% 0.5rem 5%;
  }

  /* line 200, ../sass/_hangar.scss */
  .hangar-body p:first-of-type {
    padding: 3rem 5% 0.5rem 5%;
  }

  /* line 201, ../sass/_hangar.scss */
  .hangar-body p:last-of-type {
    padding: 0.5rem 5% 3rem 5%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 206, ../sass/_hangar.scss */
  .hangar-body p {
    padding: 1rem 10% 1rem 10%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 212, ../sass/_hangar.scss */
  .hangar-body p {
    padding: 1rem 15% 1rem 15%;
  }
}
/* line 218, ../sass/_hangar.scss */
h5.hangar-fin {
  padding-bottom: 2.5rem;
  background-color: #fff;
  color: #ccc;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  text-align: center;
}

/* line 228, ../sass/_hangar.scss */
.underbar {
  height: 5px;
  background: #ea2e49;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ea2e49), color-stop(50%, #77c4d3), color-stop(100%, #f6f792));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ea2e49 0%, #77c4d3 50%, #f6f792 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2e49', endColorstr='#f6f792',GradientType=1 );
  /* IE6-9 */
}

/* line 240, ../sass/_hangar.scss */
.hangar-share {
  padding-top: 3.5rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  color: #222;
  display: block;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.7rem;
}

/* line 252, ../sass/_hangar.scss */
.hangar-share i {
  margin: 0 1rem 0 1rem;
  font-size: 5rem;
  vertical-align: middle;
  margin-bottom: 1rem;
}

/* line 259, ../sass/_hangar.scss */
h5.hangar-share-text {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: 1.8rem;
  font-size: 2.1rem;
  color: #ccc;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2.8rem;
}

/* line 269, ../sass/_hangar.scss */
.profile-photo img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
  transition: .25s all;
}

/* line 276, ../sass/_hangar.scss */
.profile-photo img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: .25s all;
}

/* line 283, ../sass/_hangar.scss */
.hangar-hero h1 {
  padding: 0;
  margin: 0 0 0 0;
  font-family: Helvetica 'Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 8rem;
  color: #222;
  letter-spacing: -0.5rem;
  vertical-align: middle;
}

/* fix h1 response */
@media (max-width: 767px) {
  /* line 298, ../sass/_hangar.scss */
  .hangar-hero h1 {
    font-size: 5rem;
  }

  /* fixes the padding on small devices */
  /* line 302, ../sass/_hangar.scss */
  .hangar-hero {
    padding: 2rem;
  }

  /* same as above for .hangar-hero, it aligns both to a 2rem edge */
  /* line 307, ../sass/_hangar.scss */
  h5.hangar-author {
    margin: 0 0 0 2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 313, ../sass/_hangar.scss */
  .hangar-hero h1 {
    font-size: 6rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 319, ../sass/_hangar.scss */
  .hangar-hero h1 {
    font-size: 7rem;
  }
}
/*********** ^^^^^ */
/* line 1, ../sass/_lists.scss */
.manhattan {
  background-color: #252525;
}

/* line 5, ../sass/_lists.scss */
.playlist-details {
  margin: 4rem 0 4rem 0;
}

/* line 9, ../sass/_lists.scss */
.playlist-details h1 {
  font-family: Helvetica 'Neue', Helvetica, Arial, sans-serif;
  font-size: 8rem;
  color: #fff;
  letter-spacing: -0.4rem;
  font-weight: bold;
  text-align: center;
}

/* line 18, ../sass/_lists.scss */
.playlist-desc {
  padding: 4rem 0 4rem 0;
}

/* line 22, ../sass/_lists.scss */
.playlist-desc h1 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 6rem;
  color: #fff;
  text-align: center;
}

/* line 30, ../sass/_lists.scss */
.playlist-desc p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-size: 3rem;
}

/* line 1, ../sass/_navigation.scss */
.topleft {
  background-color: transparent;
  margin: 1rem 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.8rem;
  letter-spacing: .18rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ccc;
    width: 100%;
    
}

/* line 14, ../sass/_navigation.scss */
.topleft a {
  color: #FF4247;
}

/* line 15, ../sass/_navigation.scss */
.topleft a:hover {
  color: #FF4247;
}

/* line 19, ../sass/_navigation.scss */
.topleft-social-container {
  padding: 1rem 0 0 3rem;
    
}

/* line 23, ../sass/_navigation.scss */
.topleft i {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  transition: .25s all;
}

/* line 30, ../sass/_navigation.scss */
.topleft i:hover {
  opacity: 0.5;
  transition: .25s all;
}

/* line 35, ../sass/_navigation.scss */
.mailing-list-header {
  color: #FF4247;
}

/* line 39, ../sass/_navigation.scss */
.mailing-list-header a, .mailing-list-header a:visited {
  color: #FF4247;
}

/* line 43, ../sass/_navigation.scss */
.mailing-list-header a:hover {
  color: #ccc !important;
  text-decoration: none;
}

/* line 48, ../sass/_navigation.scss */
.topright {
  background-color: transparent;
  margin: 1rem 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
    
}

/* line 57, ../sass/_navigation.scss */
.topright-divider {
  color: #111;
}

/* line 61, ../sass/_navigation.scss */
.topright h5 {
  padding: 2rem 3rem 0 0;
  display: inline-block;
  font-size: 1.8rem;
  letter-spacing: .18rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #ccc;
}

/* line 71, ../sass/_navigation.scss */
.topright h5 a {
  color: #ccc;
  transition: .25s all;
}

/* line 76, ../sass/_navigation.scss */
.topright h5 a:hover {
  color: #FF4247;
  text-decoration: none;
  transition: .25s all;
}

/* line 82, ../sass/_navigation.scss */
.navigation {
  background-color: transparent;
  margin-top: 3rem;
  text-align: center;
}

/* line 89, ../sass/_navigation.scss */
.navigation a:hover {
  text-decoration: none;
  color: #333;
}

/* line 94, ../sass/_navigation.scss */
.navigation h4 {
  font-size: 2.5rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #111;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0.5rem 0;
  margin-right: 2.5rem;
}

/* line 105, ../sass/_navigation.scss */
.navigation a {
  color: #aaa;
}

/* line 111, ../sass/_navigation.scss */
.icon-home-house-streamline,
.icon-earth-globe-streamline,
.icon-male-female,
.icon-music-note-streamline,
.icon-settings-streamline,
.icon-diamond {
  font-size: 4rem;
  vertical-align: middle;
  padding-right: 1rem;
}

/* This class is for the | in between the icon and 'MENU' text */
/* line 143, ../sass/_navigation.scss */
.navigation-divider {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 100 !important;
  color: #ccc !important;
}

/* Social icons */
/* line 150, ../sass/_navigation.scss */
.nav-social-icons {
  font-size: 3rem !important;
  padding: 0 0.5rem 0 0.5rem;
}

/* used as @extend for the three first links */
/* line 156, ../sass/_navigation.scss */
.nav-standard-icons, .nav-playlists:before, .nav-genres:before, .nav-featured:before {
  font-family: 'FontAwesome';
  color: #111;
  font-size: 1.75rem;
  padding: 0 0.5rem 0 0;
}

/* line 161, ../sass/_navigation.scss */
.nav-playlists:before {
  content: '\f1de';
}

/* line 166, ../sass/_navigation.scss */
.nav-genres:before {
  content: '\f001';
}

/* line 171, ../sass/_navigation.scss */
.nav-featured:before {
  content: '\f06d';
}

/* line 1, ../sass/_navmenu.scss */
.menu-left {
  background-color: transparent;
  border: none;
  outline: none;
}

/* line 7, ../sass/_navmenu.scss */
.fa-bars {
  color: #111;
}

/* line 14, ../sass/_navmenu.scss */
#owl-demo .item {
  margin: 3px;
}

/* line 18, ../sass/_navmenu.scss */
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 25, ../sass/_navmenu.scss */
.featured-item-label {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: #FF4247;
  background-color: #fff;
  display: inline-block;
  padding: 0 1rem 0 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

/* line 39, ../sass/_navmenu.scss */
.featured-item {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  position: absolute;
  top: 4rem;
  line-height: 5rem;
  margin: 5rem;
  padding: 2rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .25s all;
  font-size: 4rem;
}

@media (max-width: 767px) {
  /* line 55, ../sass/_navmenu.scss */
  .featured-item-label {
    font-size: 2rem;
  }

  /* line 59, ../sass/_navmenu.scss */
  .featured-item {
    margin: 2.5rem;
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 69, ../sass/_navmenu.scss */
  .featured-item-label {
    font-size: 2rem;
  }

  /* line 72, ../sass/_navmenu.scss */
  .featured-item {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 82, ../sass/_navmenu.scss */
  .featured-item-label {
    font-size: 3rem;
  }

  /* line 85, ../sass/_navmenu.scss */
  .featured-item {
    font-size: 3rem;
    line-height: 4rem;
  }
}
/* line 92, ../sass/_navmenu.scss */
.featured-item:hover {
  background-color: #fff;
  color: #111;
  transition: .25s all;
}

/* line 3, ../sass/_global-footer.scss */
.global-footer {
  color: inherit;
  background-color: #111;
  padding: 2.5rem 0 0.75rem 0;
  -webkit-backface-visibility: hidden;
}

/* line 11, ../sass/_global-footer.scss */
.social-footer {
  font-size: 7.5rem;
  color: #fff;
  text-align: center;
}

/* line 17, ../sass/_global-footer.scss */
.social-footer i {
  padding: 0 2.5rem 0 2.5rem;
  transition: .25s all;
}

/* line 22, ../sass/_global-footer.scss */
.social-footer i:hover {
  opacity: 0.5;
  transition: .25s all;
}

/* line 27, ../sass/_global-footer.scss */
.social-footer-text {
  font-size: 2.5rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 32, ../sass/_global-footer.scss */
.footer-logo {
  padding: 5rem 0 2.5rem 0;
  text-align: center;
}

/* line 37, ../sass/_global-footer.scss */
.footer-logo p {
  padding: 3.5rem 0 0.7rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.28rem;
  text-transform: uppercase;
  color: #ccc;
}

/* line 46, ../sass/_global-footer.scss */
.footer-logo img {
  opacity: 1;
  transition: .25s all;
}

/* line 51, ../sass/_global-footer.scss */
.footer-logo img:hover {
  opacity: 0.5;
}

/* Footer link Verticals */
/* line 57, ../sass/_global-footer.scss */
.footer-verticals {
  text-align: center;
  margin: 2.5rem 0 0 0;
}

/* line 62, ../sass/_global-footer.scss */
.footer-verticals a:hover {
  text-decoration: none;
  color: #FF4247;
}

/* line 67, ../sass/_global-footer.scss */
.footer-verticals a {
  color: #fff;
}

/* line 71, ../sass/_global-footer.scss */
.footer-verticals ul li {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3.1rem;
  font-weight: 100;
  text-transform: uppercase;
  list-style: none;
  color: inherit;
}

/* line 80, ../sass/_global-footer.scss */
.fv-left {
  text-align: left;
}

/* line 81, ../sass/_global-footer.scss */
.fv-center {
  text-align: left;
}

/* line 82, ../sass/_global-footer.scss */
.fv-right {
  text-align: left;
}

/* untitled-font-2 */
@font-face {
  font-family: "untitled-font-2";
  src: url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.eot");
  src: url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.eot?#iefix") format("embedded-opentype"), url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.woff") format("woff"), url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.ttf") format("truetype"), url("https://fontastic.s3.amazonaws.com/FxANiF2itE2Ssv9DM8NpMY/fonts/1410309706.svg#1410309706") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 99, ../sass/_global-footer.scss */
[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 112, ../sass/_global-footer.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 125, ../sass/_global-footer.scss */
.icon-home-house-streamline:before {
  content: "a";
}

/* line 128, ../sass/_global-footer.scss */
.icon-settings-streamline:before {
  content: "b";
}

/* line 131, ../sass/_global-footer.scss */
.icon-music-note-streamline:before {
  content: "c";
}

/* line 134, ../sass/_global-footer.scss */
.icon-envellope-mail-streamline:before {
  content: "d";
}

/* line 137, ../sass/_global-footer.scss */
.icon-earth-globe-streamline:before {
  content: "e";
}

/* line 140, ../sass/_global-footer.scss */
.icon-diamond:before {
  content: "g";
}

/* line 143, ../sass/_global-footer.scss */
.icon-male-female:before {
  content: "f";
}

/* PLAYLISTS PAGE */
/* line 3, ../sass/_playlists.scss */
#playlists {
  height: auto;
}

/* Primary Title for the page and playlist */
/* line 9, ../sass/_playlists.scss */
.playlist-title {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #000;
}

/* line 15, ../sass/_playlists.scss */
.playlist-title h1 {
  padding: 2.5rem 0 2.5rem 0;
  color: #222;
  font-size: 6.3rem;
  text-align: center;
}

/* tells the story of the playlist */
/* line 24, ../sass/_playlists.scss */
.playlist-story {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 29, ../sass/_playlists.scss */
.playlist-story p {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.8rem;
  line-height: 4.6rem;
  color: #222;
  text-align: center;
  font-weight: 100;
}

/* themes */
/* line 44, ../sass/_playlists.scss */
.sunrise {
  /* Old browsers */
  background: #a7d3cb;
  /* FF3.6+ */
  background: -moz-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #a7d3cb), color-stop(32%, #bcc1c4), color-stop(59%, #e5cab3), color-stop(89%, #fee6c5), color-stop(100%, #fdecd0));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* IE10+ */
  background: -ms-linear-gradient(-45deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
  /* W3C */
  background: linear-gradient(135deg, #a7d3cb 0%, #bcc1c4 32%, #e5cab3 59%, #fee6c5 89%, #fdecd0 100%);
}

/* line 61, ../sass/_playlists.scss */
.in-the-summertime {
  /* Old browsers */
  background: #8dd6c3;
  /* FF3.6+ */
  background: -moz-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* Chrome,Safari4+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(6%, #8dd6c3), color-stop(40%, #c5e5e2), color-stop(70%, #eafaeb), color-stop(88%, #f9f7ca), color-stop(100%, #fceea1));
  /* Chrome10+,Safari5.1+ */
  background: -webkit-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* Opera 11.10+ */
  background: -o-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* IE10+ */
  background: -ms-linear-gradient(-45deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
  /* W3C */
  background: linear-gradient(135deg, #8dd6c3 6%, #c5e5e2 40%, #eafaeb 70%, #f9f7ca 88%, #fceea1 100%);
}

/* line 79, ../sass/_playlists.scss */
.manhattan-nights {
  background: linear-gradient(to bottom, #020111 60%, #20202c 100%);
}

/* line 1, ../sass/_maincontent.scss */
.home-post-box {
  height: 500px;
  overflow: hidden;
  background-size: 100%;
  max-height: 500px;
  position: relative;
  display: table;
  width: 100%;
  background-color: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 15, ../sass/_maincontent.scss */
.home-post-box a, .home-post-box a:visited {
  color: #fff;
  transition: .25s all;
}

/* line 20, ../sass/_maincontent.scss */
.home-post-box a:hover {
  transition: .25s all;
  color: #FF4247 !important;
}

/* line 25, ../sass/_maincontent.scss */
.main-post-itself {
  display: table-cell;
  vertical-align: middle;
  transition: .25s all;
}

/* line 32, ../sass/_maincontent.scss */
.home-post-box h1 {
  padding: 1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.10rem;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

@media (max-width: 767px) {
  /* line 47, ../sass/_maincontent.scss */
  .home-post-box h1 {
    font-size: 3.0rem;
    letter-spacing: -0.05rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 53, ../sass/_maincontent.scss */
  .home-post-box h1 {
    font-size: 3.6rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 60, ../sass/_maincontent.scss */
  .home-post-box h1 {
    font-size: 4.2rem;
  }
}
/* line 69, ../sass/_maincontent.scss */
.main-seewhatsnew {
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
}

/* Date */
/* line 79, ../sass/_maincontent.scss */
.main-the-date {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  text-align: right;
}

/* line 86, ../sass/_maincontent.scss */
.general-date, .main-the-date--day, .main-the-date--number {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 2rem;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #FF4247;
}

/* line 98, ../sass/_maincontent.scss */
.main-the-date--day {
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  font-weight: 300;
  color: #fff;
}

/* line 105, ../sass/_maincontent.scss */
.main-the-date--number {
  padding: 0.15rem 0.25rem 0.15rem 0.5rem;
  font-weight: 900;
  color: #fff;
  float: left;
}

/* Author */
/* line 116, ../sass/_maincontent.scss */
.main-the-author {
  width: 80%;
  margin: 0 auto;
  padding: 0.5rem 0 0 0.5rem;
  text-align: right;
}

/* line 125, ../sass/_maincontent.scss */
.main-the-author img {
  height: 100px;
  width: 100px;
}

/* line 133, ../sass/_maincontent.scss */
.main-the-author img {
  filter: none;
  -webkit-filter: grayscale(0%);
  transition: .25s all;
}

/* line 139, ../sass/_maincontent.scss */
.main-the-author img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: .25s all;
}

/* v2 of the date */
/* line 152, ../sass/_maincontent.scss */
.homepage-date-container {
  padding-bottom: 0.5rem;
}

/* line 157, ../sass/_maincontent.scss */
.homepage-date {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: table;
}

/* line 167, ../sass/_maincontent.scss */
.homepage-date p {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 178, ../sass/_maincontent.scss */
.homepage-date--dayname {
  color: #111;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2.0rem;
  padding-left: 1rem;
  text-transform: uppercase;
}

/* line 188, ../sass/_maincontent.scss */
.homepage-date--number {
  color: #FF4247;
  font-size: 4rem;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/* line 1, ../sass/_team.scss */
.team-introduction {
  text-align: center;
  padding: 0rem 0 4rem 0;
}

/* line 6, ../sass/_team.scss */
.team-introduction h1 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
}

/* line 12, ../sass/_team.scss */
.team-introduction h2 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 4rem;
}

/* line 18, ../sass/_team.scss */
.containerteam a, .containerteam a:hover, .containerteam a:visited {
  color: #FF4247;
}

/* line 22, ../sass/_team.scss */
.containerteam .white {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 3rem;
}

/* line 28, ../sass/_team.scss */
.containerteam .white img {
  float: left;
}

/* line 32, ../sass/_team.scss */
.containerteam img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  max-width: 100%;
  height: auto;
}

/* line 39, ../sass/_team.scss */
.team-name, .team-title, .team-learn {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding-left: 2rem;
}

/* line 46, ../sass/_team.scss */
.team-name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -0.3rem;
  font-weight: bold;
  font-size: 6rem;
  color: #222;
  margin-left: 3rem;
}

/* line 55, ../sass/_team.scss */
h1.team-name {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* line 58, ../sass/_team.scss */
.team-title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.2rem;
  font-size: 4rem;
  margin-left: 3rem;
  color: #888;
}

/* line 67, ../sass/_team.scss */
h2.team-title {
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  /* line 73, ../sass/_team.scss */
  .team-name,
  .team-title {
    margin-left: 0rem;
  }

  /* line 78, ../sass/_team.scss */
  .team-learn {
    margin-left: 1rem !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 86, ../sass/_team.scss */
  .team-learn {
    margin-left: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 94, ../sass/_team.scss */
  .team-learn {
    margin-left: 4rem;
  }
}
/* line 100, ../sass/_team.scss */
.team-learn {
  padding: .72rem;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.18rem;
  border: 5px solid #ccc;
  font-weight: 400;
  margin-left: 5rem;
  text-align: center;
  text-transform: uppercase;
  transition: .25s all;
}

/* line 113, ../sass/_team.scss */
.team-learn:hover {
  border-top: 5px solid #888;
  border-right: 5px solid #FF4247;
  border-bottom: 5px solid #FF4247;
  border-left: 5px solid #888;
  transition: .25s all;
}
